#!/bin/bash
# Switch your TV on via various methods.
# You can customise this script, but make sure you keep the following contract:
#
# BEGINNING OF CONTRACT
#
# Arg 1: which method to try first, one of {0, 1, 2}.
# - Method 0 must not accidentally switch the TV off. It should be quick.
#   If it is not configured, do nothing.
# - Methods 1, 2, etc, may accidentally switch the TV off during corner cases.
#   If it is not configured, try an arbitrary other method that is.
#
# Exits 0 if the TV was detected to be very very probably on.
# Exits non-0 if its status could not be reliably determined, including if
# there was a problem with configuration or executing the switch-on method.
#
# END OF CONTRACT
#
# Specifics of our example are as follows:
# Methods:
#   0: Wake-on-LAN
#   1: Wake-on-LAN
#   2: IR Remote Control

set -e

vars="$(dirname "$0")"/vars

if [ ! -f "$vars" ]; then
	echo "Variables file not found! Try copying ${vars}.example to ${vars}"
	exit 1
fi

. "$vars"

test -n "$tv_macaddr"

maybeoff=false
lv1t() {
	"$tv_wol"
}
lv1() {
	etherwake -D -i "$tv_iface" -b "$tv_macaddr"
}
lv2t() {
	test -n "$tv_rc"
}
lv2() {
	$tv_rc_ssh irsend send_once "$tv_rc" "$tv_rc_on"
	maybeoff=true
}

if ! lv1t && ! lv2t; then
	echo "None of the methods for switching the TV on, are configured properly!"
	exit 1
fi

level="${1:-1}"
case "$level" in
0)
	if lv1t; then lv1; fi
	;;
1)
	if lv1t; then lv1; else lv2; fi
	;;
*)
	if lv2t; then lv2; else lv1; fi
	;;
esac

# in case we just switched the TV off by mistake, wait a while for it to fully
# switch off before attempting to detect TV packets
if $maybeoff; then
	sleep "${tv_offtime:-2}"
fi

tshark -i "$tv_iface" -a packets:1 ether src "$tv_macaddr" &
cpid="$!"
sleep "$tv_ontime" &
spid="$!"

wait -n "$cpid" "$spid" # only bash has -n
if kill -0 "$cpid" 2>/dev/null; then
	kill "$cpid"
	echo "No TV packets detected!"
	exit 1
else
	echo "TV packet detected!"
	exit 0
fi
