#!/bin/sh
# Prevent your TV from idle-auto-off.
# You can customise this script. There is no contract to follow.
#
# Specifics of our example are as follows:
# Methods:
#   1: IR Remote Control

set -e

vars="$(dirname "$0")"/vars

if [ ! -f "$vars" ]; then
        echo "Variables file not found! Try copying ${vars}.example to ${vars}"
fi

. "${vars}.example"
. "$vars"

test -n "$tv_rc"

$tv_rc_ssh irsend send_once "$tv_rc" "$tv_rc_nop"
